# Node modules
node_modules
package-lock.json

# Adonis directory for storing tmp files
tmp

#storage
storage
!storage/middleware
!storage/seeds
!storage/validator

# Environment variables, never commit this file
.env

# The development sqlite file
database/*.sqlite

# VSCode & Webstorm history directories
.history
.idea
